@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-noto);
  @apply text-slate-900;
}

h1 {
  font-family: var(--font-poppins);
  font-weight: 600;
  @apply text-5xl mb-6;
}
h2 {
  font-family: var(--font-poppins);
  font-weight: 600;
  @apply text-5xl mb-5;
}
h3 {
  font-family: var(--font-poppins);
  font-weight: 600;
  @apply text-3xl mb-4;
}
h4 {
  font-family: var(--font-poppins);
  font-weight: 600;
  @apply text-2xl mb-3;
}
p {
  @apply mb-8 text-[18px] leading-[30px];
}
.eyebrow {
  font-family: var(--font-poppins);
  @apply text-sm uppercase text-slate-400 pb-1;
}

/* Hover transitions */

.link {
  @apply text-sky-600 hover:text-sky-400;
}
.mainNavLink {
  @apply py-2 px-6;
}
.mainNavAnchor {
  @apply text-sky-600 hover:text-sky-300 active:text-sky-300 hover:transition-colors text-lg;
}

.mobileMenu {
  @apply w-full h-0 overflow-hidden transition-all;
}

.mobileMenuOpen {
  @apply h-screen pt-12;
}
.mobileMenuOpen li {
  @apply mb-4;
}
