@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icterine: #eefc57;
  --mustard: #fcd757;
  --aero: #11b5e4;
  --rich-black: #051014;
  --hollywoodCerise: #ec058e;
  --iris: #4f54ba;
  --tropical-indigo: #898ed1;
  --purple-cust: rgb(120, 71, 235);
  --font-ui: 'ui-sans-serif', sans-serif;
  /* --highlight: 258 80% 60%;
  --highlight-foreground: 210 40% 98%; */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --highlight: 258 80% 60%;
  --highlight-foreground: 210 40% 98%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --sidebar-background: 0 0% 98%;

  --sidebar-foreground: 240 5.3% 26.1%;

  --sidebar-primary: 240 5.9% 10%;

  --sidebar-primary-foreground: 0 0% 98%;

  --sidebar-accent: 240 4.8% 95.9%;

  --sidebar-accent-foreground: 240 5.9% 10%;

  --sidebar-border: 220 13% 91%;

  --sidebar-ring: 217.2 91.2% 59.8%;
}

html {
  font-family: var(--font-ui); /* noto */
  @apply text-black;
  background-color: #fff;
}
/* body {
  color: #000;
  background-color: #fff;
} */

h1 {
  font-family: var(--font-ui); /* poppins */
  font-weight: 600;
  @apply text-5xl mb-6;
}
h2 {
  font-family: var(--font-ui); /* poppins */
  font-weight: 600;
  @apply text-5xl mb-5;
}
h3 {
  font-family: var(--font-ui); /* poppins */
  font-weight: 600;
  @apply text-3xl mb-4;
}
h4 {
  font-family: var(--font-ui); /* poppins */
  font-weight: 600;
  @apply text-2xl mb-3;
}
p {
  @apply mb-8 text-[18px] leading-[30px] text-slate-600;
}
ul {
  @apply list-disc list-inside;
}
li {
  @apply text-[18px] leading-[24px] text-slate-600 mb-2;
  &:last-child {
    @apply mb-8;
  }
}
p.small {
  @apply text-[16px] leading-[22px];
}
article ul {
  list-style-type: disc;
  padding-left: 24px;
  margin-bottom: 32px;
}
.unknown__pt__mark__caption {
  @apply block text-sm text-center;
}
.eyebrow {
  font-family: var(--font-ui); /* poppins */
  @apply text-base lg:text-sm uppercase text-slate-600 pb-1;
}
pre {
  margin-bottom: 2em;
}
.inlineCode,
span[data-mark='inlineCode'] {
  display: inline-block;
  font-family: monospace;
  @apply bg-slate-100;
}

.animationContainer span {
  display: inline-block;
}

/* Hover transitions */

.link,
.unknown__pt__mark__caption a {
  @apply text-iris hover:text-tropicalIndigo;
}
.mainNavLink {
  @apply py-2 px-6;
}
.mainNavAnchor {
  @apply text-iris hover:text-tropicalIndigo active:text-tropicalIndigo hover:transition-colors text-lg font-bold;
}

.mobileMenu {
  @apply absolute top-[91px] left-0 w-full h-0 px-[10%] overflow-hidden transition-all bg-white;
}

.mobileMenuOpen {
  @apply absolute top-[91px] left-0 w-full h-screen pt-12 px-[10%];
}
.mobileMenuOpen li {
  @apply mb-4;
}

.fullHeightContainer {
  @apply min-h-[calc(100vh-286px)];
}

.activeNav {
  @apply border-b-4 border-b-tropicalIndigo;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  0 {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
